{#
/**
 * @file
 * Default theme implementation to display a balances when the limits are the same, top and bottom.
 * the google chart will expand to fill the container specified here
 * currency
 * balance
 * balanceformatted //google gauge cannot use this
 * min
 * minformatted
 * max
 * maxformatted
 * id
 * functionname
 */
#}
{% set dangerzone = 0.25 %}{% set range = max - min %}{% set zonesize =  range * dangerzone /2 %}{% set minsafe = min + zonesize %}{% set maxsafe = max - zonesize %}
{{ attach_library('mcapi/mcapi.gcharts') }}
<script>
google.charts.setOnLoadCallback({{ functionname }});
function {{ functionname }}() {
  var data = new google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['{{ currency.label }}', {{ balance }}]
  ]);
  var options = {
    width: 150, height: 150,
    redColor: '{{ currency.color }}',
    redFrom: {{ maxsafe }}, redTo: {{ max }},
    yellowColor: '#ffffff',
    yellowFrom: {{ minsafe }}, yellowTo: {{ maxsafe }},
    greenColor: '{{ currency.color }}',
    greenFrom: {{ min }}, greenTo: {{ minsafe }},
    min: {{ min }},
    max: {{ max }},
  }
  new google.visualization.Gauge(document.getElementById('{{ id }}')).draw(data, options);
}
</script>
<div id="{{ id }}" style="width:150px; height:150px;"></div>
<div class = "limits">Min: {{ minformatted }} | Max: {{ maxformatted }}</div>
