{#
/**
 * @file
 * Default theme implementation to display a currency
 *
 * Available variables:
 * - currency: Full mcapi_transaction entity
 * - $name: name of the currency (probably used in the page title)
 * - created: unixtime of creation date.
 * - owner: linked username of owner
 * - color: hex code
 * and a range of usage stats yet to be determined
 * - transactions: the number of transactions using this currency
 * - wallets: the number of wallets with this currency
 * - exchanges: a list of links to exchanges (added by exchanges module)
 * - transaction volume per month
 * - wallet balances in order
 * - TODO usage by category (categories not provided by Community Accounting module)
#}
<div class = "currency {{ attributes.class }}">
  <br />Declared by {{ owner }}
  <br />Volume traded: {{ volume }}
  <br />Used {{ transactions }} times
  <br />Between {{ wallets }} wallets
</div>
{# need to create some visualisations #}
