<table border = 1 style = "float:left">
<tr><th colspan = 2>{{ currency.name }}</tr>
<tr><th>Balance</th><td>{{ balance }}</td></tr>
<tr><th>Gross income</th><td>{{ gross_in }}</td></tr>
<tr><th>Gross expenditure</th><td>{{ gross_out }}</td></tr>
<tr><th>Volume</th><td>{{ volume }}</td></tr>
<tr><th>Partners</th><td>{{ partners }}</td></tr>
</table>