{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - transaction: the rendered transaction
 * - links: The transaction transitions, formatted as a list which is never cached
#}
<div class = "{{ attributes.class }}" id = {{ attributes.id }}>
{% if overlay %}<div class = "{{ overlay_class }}">{{ overlay }}</div>{% endif %}
 {{ transaction }}
 {{ links }}
 {# any unrendered fieldAPI fields will appear here #}
</div>
