<div>
  <div class="transaction-created">
    On {{ transaction.created }}
  </div>
  <div class="transaction-users">
    {{ transaction.payer }} paid {{ transaction.payee }}
  </div>
  <div class="transaction-worth">
    the sum of {{ transaction.worths }}
  </div>
  {{ transaction }}
</div>