{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   name //of the wallet
 *   url #to the wallet transaction listing
 *   currdata is an array, keyed by currency code. each value is a set of results
 *   The results are
 *   - currency (data object)
 *   - trades (number of)
 *   - balance
 *   - gross_in
 *   - gross_out
 *   - volume
 *   - partners
 */
#}
<table border = "1" class = "display-wallet">
<tr><th><a href="{{ url }}" title = "Show transactions">{{ name }}</a></th>
{% for curr in currdata %}
<th >{{ curr.label }}</th>
{% endfor %}
</tr><tr><th style="font-size: 150%">Balance</th>
{% for curr in currdata %}
<td style="font-size: 150%">{{ curr.balance }}</td>
{% endfor %}
</tr><tr><th>Gross income</th>
{% for curr in currdata %}
<td>{{ curr.gross_in }}</td>
{% endfor %}
</tr><tr><th>Gross expenditure</th>
{% for curr in currdata %}
<td>{{ curr.gross_out }}</td>
{% endfor %}
</tr><tr><th>Volume</th>
{% for curr in currdata %}
<td>{{ curr.volume }}</td>
{% endfor %}
</tr><tr><th>partners</th>
{% for curr in currdata %}
<td>{{ curr.partners }}</td>
{% endfor %}
</tr><tr><th>Trades</th>
{% for curr in currdata %}
<td>{{ curr.trades }}</td>
{% endfor %}
</tr></table>

