{#
/**
 * @file
 * Default theme implementation to display a wallet's balance history.
 *
 * label //of the wallet
 * canonical //to the wallet uri
 * log_link //to the wallet transaction listing
 * width //in pixels
 * currencies, each chart consisting of:
 * -  id           #the unique id of the chart
 * - functionname #the unique function name
 * - incoming     #raw incoming value
 * - outgoing     #raw outgoing value
 * - show_in      #formatted incoming value
 * - show_out     #formatted outgoing value
 * - given        #translation of 'Given'
 * - received     #translation of 'Received'
 * - currency     #configEntity object
 * - max
 * - vaxislabels
 */
#}
{{ attach_library('mcapi/mcapi.gcharts') }}
<script type="text/javascript">
{% for chart in currencies %}
google.charts.setOnLoadCallback({{ chart.functionname }});
function {{ chart.functionname }}() {
  var data = google.visualization.arrayToDataTable([
    ['Units', 'Given', 'Received'],
    ['', {{ chart.incoming }}, {{ chart.outgoing }}]
  ]);
  var options = {
    width: 200,
    height: 200 ,
    enableInteractivity: false,
    vAxis: {viewWindowMode: 'explicit'},
    vAxis: {viewWindow: {min: 0, max: {{ chart.max  }}}},
    hAxis: {title: "{{ chart.given }}, {{ chart.received }}"},
    legend: {position: 'none'},
    colors: ['#2aab49', '#21a0db'],
    vAxis: { ticks: [{% for tick in chart.vaxislabels %}
      {v:{{ tick.value }}, f:"{{ tick.label }}"},
      {% endfor %}
    ]}
  }
  new google.visualization.ColumnChart(document.getElementById('{{ chart.id }}')).draw(data, options);
}
{% endfor %}
</script>
{% for chart in currencies %}
<div class = "balance-bar">
  <div class = "givenreceived" id = "{{ chart.id }}"></div>
</div>
{% endfor %}
