{#
/**
 * @file
 * Default theme implementation to display a wallet's balance history.
 * some javascript has been added in the header already
 *
 * columns
 * date_rows
 * functionname
 * id #the unique id of the chart
 * currency #the currency object
 * width #in pixels
 * height #in pixels
 * vaxislabels # array of labels keyed by value
 */
#}
<script>
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback({{ functionname }});
function {{ functionname }}() {
  var data = new google.visualization.DataTable();
  {% for name, column in columns %}
  data.addColumn('{{ name }}', '{{ column }}');
  {% endfor %}
  {% for row in daterows %}
  data.addRow([new Date('{{ row.0 }}'), {{ row.1 }}]);
  {% endfor %}
var options = {
    width: {{ width }},
    height: {{ height }},
    colors: ['{{ currency.color }}'],
    legend: {position: 'none'},
    vAxis: { ticks: [
    {% for tick in vaxislabels %}
    {v:{{ tick.value }}, f:"{{ tick.label }}"},
  {% endfor %}
    ]}
  }
  new google.visualization.LineChart(document.getElementById('{{ id }}')).draw(data, options);
}
</script>
<div id="{{ id }}" class = "history-chart" style="width:{{ width }}px; height:{{ height }}px;"></div>

