{#
/**
 * @file
 * Default theme implementation to display a wallet's balance history. Variables:

 * label //of the wallet
 * wallet_link #to the wallet uri
 * wallet_log_link #to the wallet transaction listing
 * currencies, each of which contains
 * - columns
 * - daterows
 * - functionname
 * - id #the unique id of the chart
 * - vaxislabels # array of labels keyed by value
 * e.g.
 */
    [
      functionname = drawHistorycc
      id => wallet-29-cc
      vaxislabels = [
        [
          value => 0
          label => CC0
        ],
        [
          value = 0.5
          label = CC0
        ]
      ]
      columns = [
        [
          date = Date
          number = Community Coins
        ]
      ],
      daterows = [
        [
          08/24/2015
          -260
          -CC260
        ],etc...
      ]
    ]
#}
{{ attach_library('mcapi/mcapi.gcharts') }}
<script>
{% for chart in currencies %}
  google.charts.setOnLoadCallback({{ chart.functionname}});
  function {{ chart.functionname }}() {
    var data = new google.visualization.DataTable();
    {% for name, column in chart.columns %}
    data.addColumn('{{ name }}', '{{ column }}');
    {% endfor %}{% for row in chart.daterows %}
    data.addRow([new Date('{{ row.0 }}'), {{ row.1 }}]);
    {% endfor %}
var options = {
      width: {{ width }},
      height: {{ height }},
      colors: ['{{ chart.currency.color }}'],
      legend: {position: 'none', title: 'Hello'},
      vAxis: { ticks: [{% for tick in chart.vaxislabels %}
      {v:{{ tick.value }}, f:"{{ tick.label }}"},
      {% endfor %}]}
    }
    new google.visualization.LineChart(document.getElementById('{{ chart.id }}')).draw(data, options);
  }
{% endfor %}
</script>

{% for chart in currencies %}
  <div id="{{ chart.id }}" class = "history-chart" style="width:{{ width }}px; height:{{ height }}px;"></div>
{% endfor %}

