{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   label //of the wallet
 *   wallet_link #to the wallet uri
 *   wallet_log_link #to the wallet transaction listing
 *   currencies is an array, keyed by currency code. each value is a set of results
 *   The results are
 *   - currency (data object)
 *   - trades (number of)
 *   - balance
 *   - gross_in
 *   - gross_out
 *   - volume
 *   - partners
 */
#}
<table border = "1" class = "wallet-stats">
<tr>
  <th style="font-size: 150%">{{ 'Balance'|trans }}</th>
  {% for curr in currencies %}
  <td style="font-size: 150%">{{ curr.balance }}</td>
  {% endfor %}
</tr><tr><th>{{ 'Gross income'|trans }}</th>
  {% for curr in currencies %}
  <td>{{ curr.gross_in }}</td>
  {% endfor %}
</tr><tr><th>{{ 'Gross expenditure'|trans }}</th>
  {% for curr in currencies %}
  <td>{{ curr.gross_out }}</td>
  {% endfor %}
</tr><tr><th>{{ 'Volume'|trans }}</th>
  {% for curr in currencies %}
  <td>{{ curr.volume }}</td>
  {% endfor %}
</tr><tr><th>{{ 'partners'|trans }}</th>
  {% for curr in currencies %}
  <td>{{ curr.partners }}</td>
  {% endfor %}
</tr><tr><th>{{ 'Trades'|trans }}</th>
  {% for curr in currencies %}
  <td>{{ curr.trades }}</td>
  {% endfor %}
</tr></table>

